{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container content-container text-center">
        <div class="row">
            <!-- <div class="col-6">Responsibilities</div>
            <div class="col-6">Cleaning</div>
            <div class="col-6">Preparation</div>
            <div class="col-6">Pizzas</div>
            <div class="col-6">Desserts</div>
            <div class="col-6">Dough Spending</div>
            <div class="col-6">Dough Recipe</div> -->
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/resp.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Responsibilities</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/cleaning.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Cleaning</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/prep.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Preparation</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 btn card-container" href="#">
                <div class="card mx-auto">
                    <img src="media/card_images/pizza.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Pizzas</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/dessert.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Desserts</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/dough.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Dough recipe</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 card-container">
                <div class="card mx-auto">
                    <img src="media/card_images/dough_stat.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Dough statistic</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block bottom %}

{% endblock %}



