{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container grid-container">
    <div class="item item-1 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/resp.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Duties</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-2 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/cleaning.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Cleaning</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-3 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/prep.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Preparation</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-4 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/recipes.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Recipes</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-5 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/pizza.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Pizzas</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-6 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/dessert.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Desserts</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-7 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/dough.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Dough recipe</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-8 grid-item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="media/card_images/dough_stat.svg" class="card-img-top" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="card-title">Dough statistic</h6>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}


{% block bottom %}

{% endblock %}



