{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container app-grid">
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/resp.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Duties</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/cleaning.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Cleaning</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/prep.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Preparation</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/recipes.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Recipes</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/pizza.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Pizzas</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/dessert.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Desserts</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/dough.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Dough recipe</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="app-grid__item">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="app-grid__item--image" src="media/card_images/dough_stat.svg" alt="...">
                </div>
                <div class="col-12 text-center">
                    <h6 class="app-grid__item--title">Dough statistic</h6>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}






