

// ------------- LIGHT THEME  -------------


html[data-theme="light"] {

    --color__theme: #{$color__theme};


    --color__primary: #{$color__primary};
    --color__secondary: #{$color__secondary};


    --color__text: #{$color__text};
    --color__title: #{$color__title};

    --body__shadow--inset: #{$body__shadow--inset};

    --nav__btn--bg: #{$nav__btn--bg};

    --btn__shadow--drop: #{$btn__shadow--drop};


    --nav__btn--bg: #{$nav__btn--bg};
    --nav__btn--normal: #{$nav__btn--normal};
    --nav__btn--pressed: #{$nav__btn--pressed};


    --toggle__btn--drop-shadow: #{$toggle__btn--drop-shadow};

}


// ------------- DARK THEME  -------------


html[data-theme="dark"] {

    --color__theme: #{$color__theme--dark};


    --color__primary: #{$color__primary};
    --color__secondary: #{$color__secondary};


    --color__text: #{$color__text};
    --color__title: #{$color__title};

    --body__shadow--inset: #{$body__shadow--inset};

    --nav__btn--bg: #{$nav__btn--bg};


    --btn__shadow--drop: #{$btn__shadow--drop};


    --nav__btn--bg: #{$nav__btn--bg};
    --nav__btn--normal: #{$nav__btn--normal};
    --nav__btn--pressed: #{$nav__btn--pressed};

    --toggle__btn--drop-shadow: #{$toggle__btn--drop-shadow--dark};
}

