

.app-grid {
    max-width: 1200px;
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 3rem;

    &__item {
        box-shadow: var(--btn__drop-shadow);
        background-color: var(--btn__bg);
        border-radius: 20px;
        height: 5.5rem;

        &--title {
            color: var(--text__primary-color);
            font-weight: bold;
            letter-spacing: .5px;
        }

        &--image {
            height: 7vh;
            padding-top: 0.5rem;
        }
    }
}



@media (min-width: 300px) {
    .app-grid { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 600px) {
    .app-grid { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 900px) {
    .app-grid { grid-template-columns: repeat(3, 1fr); }
}

