

.site-menu {
    max-width: 1200px;
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 3rem;
}

.site-menu__item {
    box-shadow: var(--btn-shadow);
    border-radius: 20px;
    height: 5.5rem;
}

.site-menu__item--title {
    color: var(--title-color);
    font-weight: bold;
    letter-spacing: .5px;
}

.site-menu__item--image {
    height: 7vh;
    padding-top: 0.5rem;
    /* filter: drop-shadow(1px 1px 1px var(--card-icon-shadow)); */
}


@media (min-width: 300px) {
    .site-menu { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 600px) {
    .site-menu { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 900px) {
    .site-menu { grid-template-columns: repeat(3, 1fr); }
}