

#navbar-checkbox:checked ~ .nav-menu {
  clip-path: circle(75%);
  z-index: 1050;
}


.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: var(--theme-color);

  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
  clip-path: circle(25px at calc(100% - 50%) 100%);
  transition: all 0.3s ease-in-out;
}


.nav-btn{
  position: fixed;
  z-index: 2000;

  left: 50%;
  bottom: -25px;
  margin: 0 auto;

  height: 50px;
  width: 100px;

  text-align: center;
  line-height: 57px;
  font-size: 30px;

  background: var(--theme-color);
  box-shadow: var(--btn-shadow);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;

  transform: translate(-50%, -50%);

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}


/* Color after nav btn is pressed */
#navbar-checkbox:checked ~ .nav-btn {
  color: black;
}


/* Navbar icon and color */
#navbar-checkbox:checked ~ .nav-btn__icon:before {
  content: "\f00d";
  color: var(--title-color);
}


.nav-menu__list {
  position: absolute;
  top: 45%;
  left: 50%;

  width: 80%;
  padding: 0;

  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}


.nav-menu__list--item {
  margin: 15px 0;

  border-radius: 20px;

  background: var(--theme-color);
  box-shadow: var(--btn-shadow);
  /* text-shadow: var(--menu-item-text-shadow); */
}


.nav-menu__list--item:hover {
  box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 20%);
}

.nav-menu__list--item:first-child {
  background: none;
  box-shadow: none;
}


.nav-menu__list--item--title {
  position: relative;
  padding: 5px 30px;

  color: var(--title-color);

  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 3rem;
  text-transform: uppercase;
  text-decoration: none;

  transition: all 0.3s ease;
}


.nav-menu__list--item--title:after {
  position: absolute;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/

  content: "";

  border-radius: 50px;

  z-index: -1;

  transform: scaleY(0);

  transition: transform 0.2s ease;
}


.nav-menu__list--item--title:hover:after {
  transform: scaleY(1);
}


.nav-menu__list--item--title:hover {
  color: #fff;
}


input[type="checkbox"]{
  display: none;
}


/* ------------------------- Toggle Switch ----------------- */


.nav-menu__theme-switch {
  align-items: center;
  justify-content:space-between;
  border-radius: 10px;
}


.nav-menu__theme-switch--theme-name {
    color: #6b728d;
    display: inline-block;
    font-size: larger;
    font-weight: 700;
    padding: 5px 10px;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translate(0%, -50%);
}


.nav-menu__theme-switch--btn input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   z-index: -2;
}


.nav-menu__theme-switch--btn input[type="checkbox"] + label {
   display:inline-block;

   position: relative;
   margin:0;

   width:100px;
   height:40px;

   border-radius: 20px;

   cursor: pointer;

   background: var(--app-orange);
   box-shadow: inset 6px 6px 10px 0 rgb(0 0 0 / 20%);
}


.nav-menu__theme-switch--btn input[type="checkbox"] + label::before {
  position: absolute;
  content: url(/media/theme/light-mode.svg);
  padding: 2px;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 6px;
  left: 8px;
  width: 43px;
  height: 28px;
  border-radius: 22px;
  /* box-shadow: var(--btn-shadow); */
  background: var(--brand-secondary);
  transition: .3s ease-in-out;
  box-shadow: inset 3px 2px 5px 0 rgb(255 255 255 / 50%), rgb(104 139 255 / 10%) 7px 3px 10px, rgb(239 82 68 / 70%) 4px 3px 9px;
}


.nav-menu__theme-switch--btn input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: url(/media/theme/dark-mode.svg);
  color: var(--theme-color);
  background-color: var(--theme-color);
  box-shadow: var(--btn-toggle-switch-shadow);
}
