html[data-theme=light] {
  --color__theme: #e6e7ee;
  --color__primary: #EF5244;
  --color__secondary: #032D48;
  --color__text: #6b728d;
  --color__title: #6b728d;
  --body__shadow--inset: inset rgba(104, 139, 255, 0.1) 0px 48px 100px 0px, inset rgba(17, 12, 46, 0.15) 0px 30px 100px 0px;
  --nav__btn--bg: #EF5244;
  --btn__shadow--drop: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(104, 139, 255, 0.1) 7px 3px 10px, rgba(0, 0, 0, 0.1) 7px 5px 10px;
  --nav__btn--bg: #EF5244;
  --nav__btn--normal: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.61) 0px 1px 8px 0px, rgba(239, 82, 68, 0) 0px 0px 10px 10px, rgba(239, 82, 68, 0.52) 0px -4px 20px 4px;
  --nav__btn--pressed: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.61), inset 0px -3px 2px 0px rgba(0, 0, 0, 0.61);
  --toggle__btn--drop-shadow: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(104, 139, 255, 0.1) 7px 3px 10px, rgba(239, 82, 68, 0.7) 4px 3px 9px;
}

html[data-theme=dark] {
  --color__theme: #12274a;
  --color__primary: #EF5244;
  --color__secondary: #032D48;
  --color__text: #6b728d;
  --color__title: #6b728d;
  --body__shadow--inset: inset rgba(104, 139, 255, 0.1) 0px 48px 100px 0px, inset rgba(17, 12, 46, 0.15) 0px 30px 100px 0px;
  --nav__btn--bg: #EF5244;
  --btn__shadow--drop: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(104, 139, 255, 0.1) 7px 3px 10px, rgba(0, 0, 0, 0.1) 7px 5px 10px;
  --nav__btn--bg: #EF5244;
  --nav__btn--normal: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.61) 0px 1px 8px 0px, rgba(239, 82, 68, 0) 0px 0px 10px 10px, rgba(239, 82, 68, 0.52) 0px -4px 20px 4px;
  --nav__btn--pressed: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.61), inset 0px -3px 2px 0px rgba(0, 0, 0, 0.61);
  --toggle__btn--drop-shadow: inset 3px 2px 5px 0 rgba(255, 255, 255, 0.5), rgba(104, 139, 255, 0.1) 7px 3px 10px, rgba(239, 82, 68, 0.7) 4px 3px 9px;
}

html {
  height: var(--base__height);
  font-family: var(--base__font);
}

body {
  height: 100vh;
  background: var(--color__theme);
  box-shadow: var(--body__shadow--inset);
  padding: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#nav-input:checked ~ .nav {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  z-index: 1050;
}

#nav-input:checked ~ .nav-btn {
  box-shadow: var(--nav__btn--pressed);
  color: var(--color__secondary);
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color__theme);
  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
  clip-path: circle(25px at 50% 100%);
  transition: all 0.3s ease-in-out;
}

.nav-btn {
  position: fixed;
  z-index: 2000;
  left: 50%;
  bottom: -25px;
  margin: 0 auto;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 57px;
  font-size: 30px;
  color: var(--color__theme);
  background: var(--nav__btn--bg);
  box-shadow: var(--nav__btn--normal);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__menu {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  padding: 0;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.nav__item {
  margin: 15px 0;
  border-radius: 20px;
  background: var(--color__theme);
  box-shadow: var(--btn__shadow--drop);
}

.nav__item:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.nav__item:first-child {
  background: none;
  box-shadow: none;
}

.nav__item--title {
  position: relative;
  padding: 5px 30px;
  color: var(--color__title);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav__item--title:after {
  position: absolute;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  /* if the font is 'Oswald'*/
  content: "";
  border-radius: 50px;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.2s ease;
}

.nav__item--title:hover:after {
  transform: scaleY(1);
}

.nav__item--title:hover {
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

.app-grid {
  max-width: 1200px;
  margin-top: 1.5rem;
  display: grid;
  grid-gap: 3rem;
}

.app-grid__item {
  box-shadow: var(--btn__shadow--drop);
  border-radius: 20px;
  height: 5.5rem;
}

.app-grid__item--title {
  color: var(--color__title);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.app-grid__item--image {
  height: 7vh;
  padding-top: 0.5rem;
}

@media (min-width: 300px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 600px) {
  .app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .app-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.logo__container {
  margin: auto;
  padding: 1rem;
}

.logo__image {
  height: 3rem;
}

.theme__toggle {
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.theme__toggle--theme-name {
  color: #6b728d;
  display: inline-block;
  font-size: larger;
  font-weight: 700;
  padding: 5px 10px;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  transform: translate(0%, -50%);
}

.theme__toggle--btn input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.theme__toggle--btn input[type=checkbox] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--app-orange);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme__toggle--btn input[type=checkbox] + label::before {
  content: url(/media/theme/light-mode.svg);
  position: absolute;
  top: 6px;
  left: 8px;
  width: 43px;
  height: 28px;
  padding: 2px;
  border-radius: 22px;
  background: var(--color__primary);
  box-shadow: var(--toggle__btn--drop-shadow);
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  transition: 0.3s ease-in-out;
}

.theme__toggle--btn input[type=checkbox]:checked + label::before {
  content: url(/media/theme/dark-mode.svg);
  left: 50%;
  background: var(--color__primary);
  box-shadow: var(--toggle__btn--drop-shadow);
}/*# sourceMappingURL=style.css.map */