
<!--   This code is taken from Codepen

  All credit go to autor,

  Code is refactored to fit the project purpose

  https://codepen.io/melnik909/pen/JpJPYp

-->

<div class="container menu-container">
    <div class="page">
        <div class="menu">
            <nav class="menu__nav">
                <ul class="menu__list r-list">
                    <li class="menu__group">
                        <!-- <input type="checkbox" id="toggle"> -->
                        <div class="container">
                            <div class="switch-holder">
                                <div class="switch-label">
                                </div>
                                <div class="switch-toggle">
                                    <input type="checkbox" id="bluetooth">
                                    <label for="bluetooth"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Home</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Duties</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Cleaning</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Preparation</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Recipes</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Pizzas</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Desserts</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Dough Recipe</a>
                    </li>
                    <li class="menu__group">
                        <a href="#0" class="menu__link r-link">Dough Statistic</a>
                    </li>
                </ul>
            </nav>
            <button class="menu__toggle r-button" type="button">
                <span class="menu__hamburger m-hamburger">
                    <span class="m-hamburger__label">
                        <span class="menu__toggle-hint screen-reader">Open menu</span>
                    </span>
                </span>
            </button>
        </div>
    </div>