

<input type="checkbox" id="nav-input">
<label for="nav-input" class="nav__btn">
    <i class="nav__btn__icon fas fa-bars"></i>
</label>
<div class="nav">
    <ul class="nav__menu">
        <li class="nav__item">
            <div class="theme__toggle">
                <div class="theme__toggle--btn">
                    <span class="theme__toggle--theme-name">LIGHT</span>
                    <input type="checkbox" name="js-theme__toggle--input" id="js-theme__toggle--input">
                    <label for="js-theme__toggle--input" onclick="changeLogo()"></label>
                    <span class="theme__toggle--theme-name">DARK</span>
                </div>
            </div>
        </li>
        <li class="nav__item">
            <a class="nav__item--title" href="#">Home</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Preparation</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Cleaning</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Recipes</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Duties</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Pizzas</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Desserts</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Dough Recipe</a>
        </li>
        <li class="nav__item" >
            <a class="nav__item--title" href="#">Dough Statistic</a>
        </li>
    </ul>
</div>

