/* To override default padding and margin from row */
.row > * {
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}


.card-title {
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: .5px;
    text-shadow: var(--text-shadow);
}


/* Image size and padding to center image in middle */
.card-img-top {
    height: 7vh;
    padding-top: 0.5rem;
}